html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

#sidebar {
    color: white;
    padding: 1rem;
}

#requestMaze {
    margin: 0.5rem;
    position: absolute;
}

.formGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 0.5rem;
}
