html,
body {
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
/* canvas[resize] {
    width: 100%;
    height: 100%;
} */

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.main #maze {
    flex: 1 1 auto;
}

#sidebar {
    color: white;
    padding: 1rem;
}

.formGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 0.5rem;
}
