html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#gear {
    transition: opacity 0.5s ease-in, transform 0.3s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in, transform 0.3s ease-in-out;
    opacity: 0.8;
    stroke: rgb(192,192,192);
}

#gear:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1.0;
}
