html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#gear {
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    opacity: 0.8;
    stroke: rgb(192,192,192);
}

#gear:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 1.0;
}

details > summary ~ *:not(details) {
    opacity: 0;
    margin-left: -1rem;
    transition: opacity 0.25s ease-in-out, margin-left 0.25s ease-in-out;
}

details[open] > summary ~ *:not(details) {
    opacity: 1;
    margin-left: 0rem;
}
